.DS_Store
*.pyc
*.so
*.o
*.a
#*
.#*
*~
scripts/.nfs*
build
dist
test/*
#test/*.py
*.egg-info
log/*
externals/*
!externals/README.txt
extra/MPI/*
!extra/MPI/CMakeLists.txt
extra/boost/*
!extra/boost/CMakeLists.txt
extra/lapack/*
!extra/lapack/CMakeLists.txt
docker/*
!docker/Dockerfile.base
!docker/Dockerfile.pymfem
!docker/Dockerfile.petram
!docker/Dockerfile.petram-local
!docker/README.md
!docker/waveguide_sample/
docker/waveguide_sample/*
!docker/waveguide_sample/model.py
!docker/waveguide_sample/global_ns.py
!docker/waveguide_sample/global_ns.dat
!docker/waveguide_sample/waveguide.msh